.editTitle{
    font-size: 2rem;
    margin-left:19%;
    margin-top:1.8%;
    margin-bottom:5%;
}
.editBtn{
    height:25px;
    width:10%;
    border: none;
    border-radius: 12px;
    background-color: #121212;
    color: #f7f7f7;
    margin-left: 2px;
    margin-right: 2px;
}